AZIIZAH OKI SHOFRINA <br>
2109106004 <br>
INFORMATIKA A'21 <br>

#### Import Library

In [1]:
import pandas as pd
import numpy as np

#### Import dataset

In [2]:
df = pd.read_csv("file_dataset.csv")
df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980.0,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980.0,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980.0,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980.0,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980.0,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,NaN,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020.0,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020.0,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020.0,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020.0,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

# Data Split

#### Import fungsi train_test_split

In [3]:
from sklearn.model_selection import train_test_split

#### Split data
Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [4]:
dataset_split = df

X = dataset_split.iloc[:, :-1]  # tanpa headingnya
y = dataset_split.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print(
    f"X_train : {X_train.shape}\
    \nX_test : {X_test.shape}\
    \ny_train : {y_train.shape}\
    \ny_test : {y_test.shape}"
)

X_train : (5367, 14)
X_test : (2301, 14)
y_train : (5367,)
y_test : (2301,)

# Data Normalization

#### Import fungsi MinMaxScaler

In [5]:
from sklearn.preprocessing import MinMaxScaler

#### Normalisasi
Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [6]:
min_max_scaler = MinMaxScaler()

x_scaled = min_max_scaler.fit_transform(
    dataset_split[["budget"]]
)
data_normalisasi = pd.DataFrame(x_scaled, columns=["budget"])
data_normalisasi

        budget
0     0.053363
1     0.012632
2     0.050554
3     0.009823
4     0.016846
...        ...
7663  0.000011
7664       NaN
7665  0.000157
7666  0.000034
7667       NaN

[7668 rows x 1 columns]

# Data Standardization

#### Import fungsi StandardScaler

In [7]:
from sklearn.preprocessing import StandardScaler

#### Standardisasi
Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [8]:
dataset_angka = df[["year", "score", "votes", "budget", "gross", "runtime"]]

ss = StandardScaler()

x_scaled2 = ss.fit_transform(  # memasukkan data
    dataset_angka
)

data_standarization = pd.DataFrame(
    x_scaled2, columns=dataset_angka.columns
)
data_standarization.head()

       year     score     votes    budget     gross   runtime
0 -1.831106  2.074791  5.141904 -0.400437 -0.190032  2.084558
1 -1.831106 -0.609254 -0.141158 -0.750196 -0.118498 -0.175884
2 -1.831106  2.384489  6.815078 -0.424558  2.775126  0.900517
3 -1.831106  1.352164  0.814942 -0.774318  0.029951 -1.037005
4 -1.831106  0.939234  0.122382 -0.714014 -0.233192 -0.498805

# Data Cleaning

Informasi dataset

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7652 non-null   float64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5495 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(6), object(9)
memory usage: 898.7+ KB

## Atasi NULL
Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

#### Banyak nilai NULL

In [10]:
df.isna().sum()

name           0
rating        77
genre          0
year          16
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2173
gross        189
company       17
runtime        4
dtype: int64

#### Import fungsi SimpleImputer

In [11]:
from sklearn.impute import SimpleImputer

#### Atasi nilai NULL pada atribut bilangan bulat dengan strategy median

In [12]:
imputer = SimpleImputer(strategy="median")
df[["year", "votes"]] = imputer.fit_transform(
    df[["year", "votes"]]
)

#### Banyak nilai NULL setelah data cleaning pada atribut year dan budget

In [13]:
df.isna().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          0
director       0
writer         3
star           1
country        3
budget      2173
gross        189
company       17
runtime        4
dtype: int64

#### Atasi nilai NULL pada atribut bilangan desimal dengan strategy mean

In [14]:
imputer = SimpleImputer(strategy="mean")
df[["score", "budget", "gross", "runtime"]] = imputer.fit_transform(
    df[["score", "budget", "gross", "runtime"]]
)

#### Banyak nilai NULL setelah data cleaning pada atribut score, budget, gross, dan runtime dengan strategy mean

In [15]:
df.isna().sum()

name         0
rating      77
genre        0
year         0
released     2
score        0
votes        0
director     0
writer       3
star         1
country      3
budget       0
gross        0
company     17
runtime      0
dtype: int64

#### Atasi nilai NULL pada atribut tulisan dengan strategy modus

In [16]:
atribut_object = df.select_dtypes(include=["object"]).columns

imputer = SimpleImputer(strategy="most_frequent")
df[atribut_object] = imputer.fit_transform(df[atribut_object])

#### Banyak nilai NULL setelah data cleaning

In [17]:
df.isna().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

## Atasi Duplikat
Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

#### Record duplikat pada dataset

In [18]:
df[df.duplicated()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
856,Raging Bull,R,Biography,1980.0,"December 19, 1980 (United States)",8.2,330000.0,Martin Scorsese,Jake LaMotta,Robert De Niro,United States,1.800000e+07,23402427.0,Chartoff-Winkler Productions,129.0
1230,Sweet Dreams,PG-13,Biography,1985.0,"October 11, 1985 (United States)",7.1,4400.0,Karel Reisz,Robert Getchell,Jessica Lange,United States,3.560096e+07,9085049.0,HBO Pictures,115.0
6450,Crack House,R,Action,1989.0,"November 10, 1989 (United States)",5.5,353.0,Michael Fischa,Blake Schaffer,Jim Brown,United States,3.560096e+07,862551.0,Silverman Entertainment,90.0

#### Atasi record duplikat

In [19]:
df.drop_duplicates(inplace=True)

#### Record duplikat setelah data cleaning

In [20]:
df[df.duplicated()]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

# Ubah Tipe Data Atribut Angka
Ganti tipe data salah satu attribute angka

#### Tipe data atribut score awal

In [21]:
df["score"].dtype

dtype('float64')

#### Ubah tipe data atribut score menjadi object

In [22]:
df["score"] = df["score"].astype("object")

#### Tipe data atribut score setelah perubahan tipe data

In [23]:
df["score"].dtypes

dtype('O')

# One Hot Encoding
Lakukan one hot encoding pada dataset yang kalian miliki.

#### Import fungsi OneHotEncoder

In [24]:
from sklearn.preprocessing import OneHotEncoder

#### Data encoding

In [25]:
one_hot_encoder = OneHotEncoder(sparse=False)
rating_encoder = one_hot_encoder.fit_transform(df[["rating"]])

#### Gabungkan data encoding dengan dataset

In [26]:
df_rating = pd.DataFrame(rating_encoder)
df = df.join(df_rating)

#### Dataset setelah diencoding

In [27]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,2,3,4,5,6,7,8,9,10,11
0,The Shining,R,Drama,1980.0,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,The Blue Lagoon,R,Adventure,1980.0,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980.0,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Airplane!,PG,Comedy,1980.0,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Caddyshack,R,Comedy,1980.0,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0