Aziizah Oki Shofrina <br>
2109106004 <br>
Informatika A'21

<b> Import Library </b>

In [17]:
import pandas as pd
import numpy as np

<b> Pencarian Informasi </b>

In [18]:
# jumlah record dan attribute
df = pd.read_csv("file_dataset.csv")

# banyak record dan attribute
n_record, n_attr = df.shape

# nama-nama attribute
attributes = df.columns

# attributes objek
attrs_object = df.select_dtypes(include="object")

# attributes angka
tipe_angka = ["int64", "float64"] # tipe angka
attrs_angka = df.select_dtypes(include=tipe_angka).columns

# attributes dengan nilai null
attrs_null = df.columns[df.isnull().any()]

<b> Menampilkan Informasi </b>

In [19]:
informasi = {
    "Jumlah record": n_record,
    "Nama attribute": attributes,
    "Jumlah attribute tipe object": len(attrs_object),
    "Jumlah attribute tipe angka": len(attrs_angka),
    "Jumlah attribute yang memiliki null": len(attrs_null)
}

# tampilkan informasi
for key, value in informasi.items():
    print(f"{key}: {value}")

Jumlah record: 7668
Nama attribute: Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')
Jumlah attribute tipe object: 7668
Jumlah attribute tipe angka: 6
Jumlah attribute yang memiliki null: 11

<b>Tampilkan Ringkasan Statistik untuk Attribute Tipe Angka <b>

In [20]:
# ringkasan seluruhnya
df.describe()

,year,score,votes,budget,gross,runtime
count,7668.000000,7665.000000,7.665000e+03,5.497000e+03,7.479000e+03,7664.000000
mean,2000.405451,6.390411,8.810850e+04,3.558988e+07,7.850054e+07,107.261613
std,11.153508,0.968842,1.633238e+05,4.145730e+07,1.657251e+08,18.581247
min,1980.000000,1.900000,7.000000e+00,3.000000e+03,3.090000e+02,55.000000
25%,1991.000000,5.800000,9.100000e+03,1.000000e+07,4.532056e+06,95.000000
50%,2000.000000,6.500000,3.300000e+04,2.050000e+07,2.020576e+07,104.000000
75%,2010.000000,7.100000,9.300000e+04,4.500000e+07,7.601669e+07,116.000000
max,2020.000000,9.300000,2.400000e+06,3.560000e+08,2.847246e+09,366.000000

Rata-Rata

In [21]:
df.mean(numeric_only=True)

year       2.000405e+03
score      6.390411e+00
votes      8.810850e+04
budget     3.558988e+07
gross      7.850054e+07
runtime    1.072616e+02
dtype: float64

Standar Deviasi

In [22]:
df.std(numeric_only=True)

year       1.115351e+01
score      9.688416e-01
votes      1.633238e+05
budget     4.145730e+07
gross      1.657251e+08
runtime    1.858125e+01
dtype: float64

Nilai Minimum

In [23]:
df.min(numeric_only=True)

year       1980.0
score         1.9
votes         7.0
budget     3000.0
gross       309.0
runtime      55.0
dtype: float64

Nilai Maksimum

In [24]:
df.max(numeric_only=True)

year       2.020000e+03
score      9.300000e+00
votes      2.400000e+06
budget     3.560000e+08
gross      2.847246e+09
runtime    3.660000e+02
dtype: float64

Quartil 1 (Q1)

In [25]:
df.quantile(0.25, numeric_only=True)

year           1991.0
score             5.8
votes          9100.0
budget     10000000.0
gross       4532055.5
runtime          95.0
Name: 0.25, dtype: float64

Quartil 2 (Q2)

In [26]:
df.quantile(0.5, numeric_only=True)

year           2000.0
score             6.5
votes         33000.0
budget     20500000.0
gross      20205757.0
runtime         104.0
Name: 0.5, dtype: float64

Quartil 3 (Q3)

In [27]:
df.quantile(0.75, numeric_only=True)

year           2010.0
score             7.1
votes         93000.0
budget     45000000.0
gross      76016691.5
runtime         116.0
Name: 0.75, dtype: float64

<b> Nilai Korelasi Attribute Tipe Angka </b>

In [28]:
df.corr(numeric_only=True)

             year     score     votes    budget     gross   runtime
year     1.000000  0.097995  0.222945  0.329321  0.257486  0.120811
score    0.097995  1.000000  0.409182  0.076254  0.186258  0.399451
votes    0.222945  0.409182  1.000000  0.442429  0.630757  0.309212
budget   0.329321  0.076254  0.442429  1.000000  0.740395  0.320447
gross    0.257486  0.186258  0.630757  0.740395  1.000000  0.245216
runtime  0.120811  0.399451  0.309212  0.320447  0.245216  1.000000

<b> Ubah Integer Menjadi Desimal 3 Angka di Belakang Koma (Float) </b>

In [34]:
df.select_dtypes(include="int64").applymap("{:.3f}".format, "ignore")

          year
0     1980.000
1     1980.000
2     1980.000
3     1980.000
4     1980.000
...        ...
7663  2020.000
7664  2020.000
7665  2020.000
7666  2020.000
7667  2020.000

[7668 rows x 1 columns]

<b> Ubah Attribute Desimal (Float) Menjadi Angka Bulat (Integer) </b>

In [35]:
df.select_dtypes(include="float64").applymap(lambda x: int(x), "ignore")

      score      votes      budget        gross  runtime
0       8.0   927000.0  19000000.0   46998772.0    146.0
1       5.0    65000.0   4500000.0   58853106.0    104.0
2       8.0  1200000.0  18000000.0  538375067.0    124.0
3       7.0   221000.0   3500000.0   83453539.0     88.0
4       7.0   108000.0   6000000.0   39846344.0     98.0
...     ...        ...         ...          ...      ...
7663    3.0       18.0      7000.0          NaN     90.0
7664    4.0       36.0         NaN          NaN     90.0
7665    5.0       29.0     58750.0          NaN      NaN
7666    NaN        NaN     15000.0          NaN    120.0
7667    5.0        7.0         NaN          NaN    102.0

[7668 rows x 5 columns]

<b> Tampilan 10 Record Pertama Attribute Tipe Angka </b>

In [36]:
df[attrs_angka].head(10)

   year  score      votes      budget        gross  runtime
0  1980    8.4   927000.0  19000000.0   46998772.0    146.0
1  1980    5.8    65000.0   4500000.0   58853106.0    104.0
2  1980    8.7  1200000.0  18000000.0  538375067.0    124.0
3  1980    7.7   221000.0   3500000.0   83453539.0     88.0
4  1980    7.3   108000.0   6000000.0   39846344.0     98.0
5  1980    6.4   123000.0    550000.0   39754601.0     95.0
6  1980    7.9   188000.0  27000000.0  115229890.0    133.0
7  1980    8.2   330000.0  18000000.0   23402427.0    129.0
8  1980    6.8   101000.0  54000000.0  108185706.0    127.0
9  1980    7.0    10000.0  10000000.0   15795189.0    100.0

<b> Simpan Dataset Attribute Tipe Angka ke File CSV </b>

In [37]:
df[attrs_angka].to_csv("file_CSV.csv")